<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Article</title>
</head>
<body>

<h2>Ma liste des Articles</h2>
<div>****************************************************</div>
<div th:each="a:${listArticle}">
    <p>***********************************************</p>
    <div>
        <p>Id du article:<span th:text="${a.id}"></span></p>
        <p>le titre de l'article:<span th:text="${a.titre}"></span></p>
        <p>l'auteur de l'article:<span th:text="${a.auteur}"></span></p>
        <p>le contenu de l'article est:<span th:text="${a.contenu}"></span></p>

        <a th:href="@{/detail/{id}(id=${a.id})}"> Details de l'article</a>

    </div>
</div>
</body>
</html>